# Editor files
##############
.vscode/
.ipynb_checkpoints

# OS files
##########
.DS_Store

# Python files
##############
# setup.py working directory
build
# setup.py dist directory
dist
# Egg metadata
*.egg-info
# Caches
__pycache__
# Virtual Environments
.venv
venv
poli-sci-kit-dev

# Documentation files
#####################
research_papers

# Display files
###############
*_preview.png
*.sketch

# Testing files
###############
_*.ipynb
